<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head.ejs', {title: "Baggu: Edit"}) %>

<body>

    <!--Header-->
    <%- include('../partials/header.ejs') %>

    <main class="main_edicion_users">

        <h3 class="title_edicion_users">Editar Producto</h3>

        <form action="/users/<%= data %>/edit?_method=PUT" method="POST" class="form_edit_users">

            <label for="myfile">    Avatar:     <input type="file" id="myfile" name="myfile" >                                           </label>

            <label for="user">      Usuario:     <input type="text"      name="user"     id="user"      placeholder="<%= user.user %>">        </label>

            <label for="name">      Nombre:     <input type="text"      name="name"     id="name"       placeholder="<%= user.name %>">        </label>

            <label for="surname">   Apellido:   <input type="text"      name="surname"  id="surname"    placeholder="<%= user.surname %>">     </label>

            <label for="email">     Email:      <input type="email"     name="email"    id="email"      placeholder="<%= user.email %>">       </label>

            <label for="password">  Contraseña: <input type="password"  name="password" id="password"   placeholder="<%= user.password %>">    </label>

            <button type="submit" class="button_edicion_users">  Enviar  </button>
        </form>

    </main>
    
    <!--Footer-->
	<%- include('../partials/footer.ejs') %>

</body>

</html>