<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head.ejs', {title: "Baggu: Edit"}) %>

<body>

    <!--Header-->
    <%- include('../partials/header/header.ejs') %>

    <main class="main_edicion_users">

        <h3 class="title_edicion_users">Editar Producto</h3>

        <form action="/users/<%= data %>/edit?_method=PUT" method="POST" class="form_edit_users">

            <div class="form_edit_OPT">
                <label for="avatar">
                    <input type="file" id="avatar" name="avatar" placeholder="Elegi una fotod e tu PC">
                </label>
            </div>

            <div class="form_edit_userOPT">
                <label for="username"> Usuario:
                    <input type="text" name="username" id="username" value="<%= user.username %>" >
                </label>
            </div>

            <div class="form_edit_userOPT">
                <label for="name"> Nombre:
                    <input type="text" name="name" id="name" value="<%= user.name %>">
                </label>
            </div>

            <div class="form_edit_userOPT">
                <label for="surname"> Apellido:
                    <input type="text" name="surname" id="surname" value="<%= user.surname %>"> </label>
            </div>

            <div class="form_edit_userOPT">
                <label for="email"> Email:
                    <input type="email" name="email" id="email" value="<%= user.email %>">
                </label>
            </div>

            <div class="form_edit_userOPT">
                <label for="password"> Contraseña:
                    <input type="password" name="password" id="password" value="<%= user.password %>">
                </label>
            </div>

            <button type="submit" class="button_edicion_users"> Enviar </button>
        </form>

    </main>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %>

</body>

</html>