<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head.ejs', {title: "Baggu: List"}) %>

    <body>

        <!--Header-->
        <%- include('../partials/header/header.ejs') %>

            <main>
    
                <form action="/users/search" method="GET" id="searchUser">
                    <label for="search">Buscar por nombre
                        <input type="text" name="search" id="search">
                    </label>      
                    <input type="submit" value="search" id="search">
                </form>

                <h1 id="title_list">Users List</h1>

                <section class="section_user_list">

                    <% if(users){ %>
                        <% users.forEach((user) => {%>



                            <div class="content_user_list">
                                <a href="/users/<%= user.id %>/ ">
                                    <div class="info_list_user"><img class="user_list_image" src="/fileUsers/<%= user.avatar %>"></div>
                                </a>
                                <div class="info_list_user"> <b>Usuario:</b>  <br>
                                    <%= user.username %>
                                </div>
                                <div class="info_list_user"> <b> Nombre:</b> <br>
                                    <%= user.name %>
                                </div>
                                <div class="info_list_user"> <b>Apellido:</b>  <br>
                                    <%= user.surname %>
                                </div>
                                <div class="info_list_user"> <b style="margin: 0px 30%;">Email:</b> <br>
                                   <p style="font-size: smaller;"><%= user.email %></p>
                                </div>

                            </div>



                            <% })} %> %>

                </section>

            </main>

            <!--Footer-->
            <%- include('../partials/footer.ejs') %>

    </body>

</html>