<!DOCTYPE html>
<html lang="en">

<!--Head-->
<%- include('../partials/head.ejs', {title: "Baggu: List"}) %>

<body>
    
    <!--Header-->
    <%- include('../partials/header.ejs') %>

    
    <main>
        
        <h1 class="title_list">Users List</h1>

        <section class="section_user_list">

            <% if(users){ %> 
                <% users.forEach((user) => {%> 
                <a class="user_list" href="/users/<%= user.id %>/ ">
                    <div>
                            <div >Imagen: <img class="photo-user" src="<%= user.avatar %>"></div>
                            <div >Usuario: $<%= user.username %> </div>
                            <div >Nombre: <%= user.name %> </div>
                            <div >Apellido: $<%= user.surname %> </div>
                            <div >Email: $<%= user.email %> </div>
                            <!-- <div id="password_div_user_list">Contraseña: $<%= user.password %> </div> -->
                            
                    </div>
                </a>
                <% })} %>                                          %>
            
        </section>
                
        <h2>Search</h2>
        <form action="/search" method="GET">
            <input type="text" name="search">
            <input type="submit" value="search">
        </form>

    </main>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %>

</body>
</html>