<!DOCTYPE html>
<html lang="es">

<!--Head-->
<%- include('../partials/head.ejs', {title: "Baggu: Login"}) %>
<script src="/js/validator.min.js"></script> <!--Scrip de Express Validator-->
<script src="/js/validationLogin.js"></script>	

<body>
	
	<!--Header-->
	<%- include('../partials/header/header.ejs') %>

        <main>

			<section >
				<!--Formulario Login-->
				<form action="/users/login" method="POST" class="formX_form" id="formLogin">

					<!--Titulo-->
					<div class="formX_title">
						<h1>Iniciar sesion</h1>	
					</div>

					<ul>
						<li>
							<label for="email"> Email:</label><br>
							<input class="inputbox" type="text" id="email" name="email" placeholder="Nombre">
							<p class="feedback <%= locals.errors && errors.email ? 'is-danger' : '' %>"> 
								<%= locals.errors && errors.email ? errors.email.msg : '' %>
							</p> <!--Feedback para mensaje del Back-->
						</li>
						<li>
							<label for="password">Contraseña:</label><br>
							<input type="password" id="password" name="password" placeholder="Contraseña">
							<p class="feedback <%= locals.errors && errors.password ? 'is-danger' : '' %>"> 
								<%= locals.errors && errors.password ? errors.password.msg : '' %>
							</p> <!--Feedback para mensaje del Back-->
						</li>
					</ul>
							
					<div>
						<label for="remember">Reocrdame
							<input type="checkbox" name="remember" id="remember">
						</label>
					</div>
					<div>
						<button type="submit">Login</button>
					</div>
						
				</form>
			</section>
						
						
						
					</main>
					
					<!--Footer-->
					<%- include('../partials/footer.ejs') %>

</body>

</html>