<section class="user_detail_container">

    <div class="user_image"><img class="user_img" src="<%= avatar %>" alt=""></div>

    <div class="user_info">

        <ul class="item_user_detail">

            <li><div><b><%= user %></b></div></li>
            <li><div><b> ID: </b> <%=id%></div></li>
            <li><div><b> Name: </b><%=name%> <%=surname%></div></li>
            <li><div><b> Email: </b><%=email%></div></li>
            <li><div><b> Password: </b><%=password%></div></li>
    
           <li> <div>
                <% let option = "vendedor"; %>
                <% if (category != 1){option = "Comprador"} %>
                <b> Category: </b><%=option%>
            </div></li>
            
        </ul> 
    </div>
</section>