<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs', {title: "Baggu: Creación productos"}) %>
	<script src="/js/validator.min.js"></script> <!--Scrip de Express Validator-->
	<script src="/js/validationCreateProduct.js"></script>

    <body>
		<%- include('../partials/header/header.ejs') %>

		<form method="POST" action="/products/create" enctype="multipart/form-data" class="formularioRegiaster" id="formRegisterProduct">
			
			<div class="logoPrincipal">
				<h2>Creación de productos</h2>
			</div>
			<br>
			<div class="otrosDatos">
				<label for="name">
					<span> Nombre del Producto</span>
					<input type="text" name="name" id="name">
					<p class="feedback"></p>
				</label>
				<br>
				<div class="fotoRegister">
					<label for="image">Seleccionar una Imagen</label>
					<input type="file" id="image" name="image"> 
					<p class="feedback"></p>
				</div>
				<label for="description">
					<span> Cambiar descripcion del Producto</span>
					<br>
					<textarea name="description" id="description" cols="60" rows="5"></textarea>
					<p class="feedback"></p>
				</label>
				<br>
				<label for="category">
					<span>Categoria Global del Producto</span>
					<select name="category" id="category">
						<% for( let i = 0; i < categories.length; i++ ) { %>
							<option value="<%= categories[i].id %>"> 
								<%= categories[i].name %>
							</option>
						<% } %>
					</select>
				</label>
				<br>
				<label for="brand">
					<span>Marca del Producto</span>
					<select name="brand" id="brand">
						<% for( let i = 0; i < brands.length; i++ ) { %>
							<option value="<%= brands[i].id %>"> 
								<%= brands[i].name %>
							</option>
						<% } %>

					</select>
				</label>
				<br>
				<label for="price">
					<span> Precio del Producto</span>
					<input type="text" name="price" id="price">
					<p class="feedback"></p>
				</label>
				<br>
				<div class="Enviar">
					<button type="submit">Crear Producto</button>
				</div>
			</div>
			
		</form>

        <%- include('../partials/footer.ejs') %>
    	

    </body>

</html>