<!DOCTYPE html> <!--Version HTML 5--> 
<html lang="en"><!--Contenido de programacion en ingles-->

    <%- include('../partials/head.ejs', {title: "Baggu: Productos"}) %>

<body>
    
    
    <div class="content">

        
        <%- include('../partials/header/header.ejs') %>
        <main>
            <div class="products_container">
                <div class="products_subcontainer">
                    <% for( var i=0; i<products.length; i++){ 
                        bodyProducts =  {id: products[i].id, image: products[i].image, name: products[i].name, description: products[i].description, price: products[i].price, brandId: products[i].brand_id};
                        bodyBrans = {};
                    for( let i = 0; i < brands.length; i++ ) { 
                        if(brands[i].id == bodyProducts.brandId){
                            bodyBrans = {name: brands[i].name};};}%>
                    <section class="product_container">
                        <a href="<%= bodyProducts.id %>">
                            <div class="background_color"></div>  <%#---para que es esto?? --%>
                            <div class="product_image_container">
                                <%#-- if(bodyProducts.image == undefined){%>
                                    <%#-- <img class="product_image" src="/img/logos/Nuevo Logo.png" alt="Imagen Default" width="100%" height="50%">%>
                                <%#-- }else{%>
                                <img class="product_image" src="/fileProducts/<%= bodyProducts.image %>" alt="Imagen" width="100%" height="50%">
                                <%#-- }%>
                                <div class="product_title"> <%= bodyProducts.name %> </div>
                                <div class="product_brand"><p>Marca: <%= bodyBrans.name %> </p> </div>
                                <div class="product_price">Precio: $ <%= bodyProducts.price %>  </div>
                                <div class="product_options">
                                    <i class="fas fa-share product_icon"></i>
                                    <i class="fas fa-cart-plus product_icon"></i>
                                    <i class="fas fa-dollar-sign product_icon"></i>
                                </div>
                            </div>
                        </a>
                    </section>
                    <% } %> 
                </div>
            </div>
        </main>
        
        <%- include('../partials/footer.ejs') %>
    </div>

</body>
</html>