<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: "Baggu: Detalle"}) %>
    <script src="/js/buttonCart.js"></script>

    <body class="bc_detalle">

        <main>
            
            <%- include('../partials/header/header.ejs') %>
            
           <section class="container_product_detail">

                <!--titulo-->
                <div class="title_product_detail">
                    <h2 class="title_product_detail_text"><%= products.name %></h2>
                </div>

                <!--imagen-->
                <div class="image_detail">
                    <img class="image_detail_file" src="/fileProducts/<%= products.image %>" alt="Imagen de Producto">
                </div>

                <!--descripcion-->
                <div class="description_detail">
                    <p class="description_detail_text"><h3 class="description_detail_text_title">Descripcion:</h3> <%= products.description %></p>
                </div>

                <% bodyBrans = {}; 
                    for( let i = 0; i < brands.length; i++ ) { 
                        if(brands[i].id == products.brand_id){
                            bodyBrans = {name: brands[i].name};
                        };
                    }
                %>

                <!--brand-->
                <div class="brand_detail">
                    <h3 class="brand_detail_title">Marca:</h3>
                    <p class="brand_detail_text"><%= bodyBrans.name %></p>
                </div>

                <!--resumen-->
                <div class="summary_detail">
                    <!--precio-->
                    <div class="price_detail">
                        <p class="price_detail_text">
                            <i class="fas fa-dollar-sign"></i><h3>Precio: </h3><%= products.price %>
                        </p>
                    </div>
                    
                    <!--comprar-->
                    <div class="button_detail">
                        <a href="https://memegenerator.net/img/instances/56703372/gracias-por-su-compras-vuelvas-prontos.jpg">
                            <button type="submit">Comprar</button> 
                        </a> 
                        <i class="fas fa-shopping-cart"></i>
                    </div>

                    <% if(locals.loggedUser && locals.loggedUser.category_user_id == 2){%>

                        <!-- Editar -->
                        <div class="button_detail">
                            <a href="/products/<%= products.id %>/edit">  
                                <button type="submit">Editar</button> 
                            </a>
                            <i class="fas fa-share-alt"></i>
                        </div>

                        <!--delete-->
                        <div class="button_detail">
                            <form action="/products/<%= products.id %>?_method=DELETE" method="POST">
                                <button type="submit">Borrar</button>
                            </form>
                        </div>
                    <% } %>

                </div>

           </section>

            <%- include('../partials/footer.ejs') %>
            
        </main>

    </body>

</html>