<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: "Baggu: Detalle"}) %>
    <script src="/js/buttonCart.js"></script>

<body class="bc_detalle">

    <main>
        
        <%- include('../partials/header/header.ejs') %>
         
        <!-- Tipo de producto -->
        <div class="tipo_producto"><p><%= products.name %></p></div>

        <div class="producto_container">
        <section>
            <div class="imagen_detalle"><img class="product_image" src="/fileProducts/<%= products.image %>" alt="Imagen de Producto"></div>
            
             <!--Descripcion del producto-->
            <div class="descripcion_detalle">
                 <p class="texto_detalle"><%= products.description %></p>
            </div>
            <% bodyBrans = {};
                for( let i = 0; i < brands.length; i++ ) { 
                    if(brands[i].id == products.brand_id){
                        bodyBrans = {name: brands[i].name};};}%>
            <div class="product_title"><p>Marca: <%= bodyBrans.name %> </p> </div>

             <!--Resumen-->
            <div class="resumen_detalle">
                
                 <!-- Precio -->
                <div class="precio_detalle"><i class="fas fa-dollar-sign"></i><%= products.price %></div></div>
                            
                 <!-- Boton Unidades a Carrito -->
                <div class="comprar_detalle">
                    <p>Añadir a Carrito:</p>
                    <button id="buttonAddCart" type="submit">+</button> 
                    <button id="buttonLessCart" type="submit">-</button> 
                    <input class="inputCart" type="number" name="addCart" value="0"><p>Unidad</p> 
                    <i class="fas fa-shopping-cart"></i>
                </div>

                 <!-- Comprar -->
                <div class="comprar_detalle">
                    <button type="submit">Comprar</button>  
                    <i class="fas fa-shopping-cart"></i>
                </div>
                
                
                <% if(locals.loggedUser && locals.loggedUser.category_user_id == 2){%>
                    <!-- Editar -->
                    <div class="comprar_detalle">
                        <a href="/products/<%= products.id %>/edit">  
                            <button type="submit">Editar</button> 
                        </a>
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <!--delete-->
                    <div>
                        <form action="/products/<%= products.id %>?_method=DELETE" method="POST">
                             <button type="submit">Borrar</button>
                        </form>
                    </div>
                <% } %>
 
 
            </div>
        </section>
    </div>
        <%- include('../partials/footer.ejs') %>
        
    </main>

</body>

</html>