<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs', {title: "Baggu: Detalle"}) %>

<body class="bc_detalle">

    <main>
        
        <%- include('../partials/header/header.ejs') %>

        <%#- include('../partials/detail_partial.ejs', {  id: products.id ,category: products.category, titulo: products.name, image: products.image, type: products.type, description: products.description, price: products.price }) %> 
         
        <!-- Tipo de producto -->
        <div class="tipo_producto"><p><%= products.name %></p></div>

        <section class="producto_container">
 
            <% bodyImages = []; 
                for( let i = 0; i < images.length; i++ ) { 
                     if(images[i].product_id == products.id){ 
                         bodyImages.push({name: images[i].name});};}; %>
            <div class="imagen_detalle"><img class="product_image" src="/fileProducts/<%= bodyImages[0].name %>" alt="Imagen de Producto"></div>
            
            <% for( let i = 0; i < bodyImages.length; i++ ) { %>
            <div class="imagen_detalle"><img class="product_image" src="/fileProducts/<%= bodyImages[i].name %>" alt="Imagen de Producto"></div>
            <% } %>

             <!--Descripcion del producto-->
            <div class="descripcion_detalle">
                 <p class="texto_detalle"><%= products.description %></p>
            </div>
            <% bodyBrans = {};
                for( let i = 0; i < brands.length; i++ ) { 
                    if(brands[i].id == products.brand_id){
                        bodyBrans = {name: brands[i].name};};}%>
            <div class="product_title"><p>Marca: <%= bodyBrans.name %> </p> </div>

             <!--Resumen-->
            <div class="resumen_detalle">
                
                 <!-- Precio -->
                <div class="precio_detalle"><i class="fas fa-dollar-sign"></i><%= products.price %></div></div>
 
                 <!-- Comprar -->
                <div class="comprar_detalle">
                    <button type="submit">Comprar</button>  
                    <i class="fas fa-shopping-cart"></i>
                </div>
 
                 <!-- Editar -->
                <div class="comprar_detalle">
                    <a href="/products/<%= products.id %>/edit">  
                        <button type="submit">Editar</button> 
                    </a>
                    <i class="fas fa-share-alt"></i>
                </div>
 
                 <!--delete-->
                <div>
                    <form action="/products/<%= products.id %>?_method=DELETE" method="POST">
                         <button type="submit">Borrar</button>
                    </form>
                </div>
 
            </div>
        </section>

        <%- include('../partials/footer.ejs') %>
        
    </main>

</body>

</html>