<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head.ejs', {title: "Baggu: Edición productos"}) %>

    <body>
    	<%- include('../partials/header.ejs') %>
		

		<form action="/products/<%= data %>?_method=PUT" method="POST" class="formularioRegiaster">
			
			<div class="logoPrincipal">
				<h2>Edición de productos</h2>
			</div>
			
			<div class="otrosDatos">
				<label for="id">
					<span> ID:</span>
					<input type="text" value="<%=products[data].id%>" name="id" id="id">
				</label>
				<label for="image">
					<span>Nueva  Url de imagen de producto</span>
					<input type="text" value="<%=products[data].image%>" name="image" id="image">
				</label>
				<label for="name">
					<span> Nuevo nombre de Producto</span>
					<input type="text" value="<%=products[data].name%>" name="name" id="name">
				</label>
				<label for="description">
					<span> Nueva descripcion de producto</span>
					<input type="text" value="<%=products[data].description%>" name="description" id="description">
				</label>
				<label for="name">
					<select name="category" id="category">
						<option value="1">Buyer</option>
						<option value="2">Seller</option>
						<option value="3">God</option>
					</select>
				</label>
				<label for="price">
					<span> Nuevo precio</span>
					<input type="text" value="<%=products[data].price%>" name="price" id="price">
				</label>
				<label for="stock">
					<span> Stock</span>
					<input type="text" value="<%=products[data].stock%>" name="stock" id="stock">
				</label>
				
			<div class="Enviar">
				<button type="submit">Submit</button>
			</div>
		</form>



        <%- include('../partials/footer.ejs') %>
    	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>