<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head.ejs', {title: "Baggu: Edición productos"}) %>
	<script src="/js/validator.min.js"></script> <!--Scrip de Express Validator-->
	<script src="/js/validationEditProduct.js"></script>

    <body>
		<%- include('../partials/header/header.ejs') %>

		<form action="/products/<%= products.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formularioRegiaster" id="formEditProduct">
			
			<div class="logoPrincipal">
				<h2>Edicion de productos</h2>
			</div>
			<br>
			<div class="otrosDatos">
				<label for="name">
					<span> Cambiar Nombre del Producto</span>
					<input type="text" name="name" id="name" value="<%= products.name %>">
					<p class="feedback"></p>
				</label>
				<br>
				<div class="fotoRegister">
					<label for="image">Cambiar una Imagen</label>
					<p>Imagen Anterior: <%= products.image %></p>
					<input type="file" id="image" name="image" value="<%= products.image %>" > 
					<p class="feedback"></p>
				</div>
				<label for="description">
					<span> Cambiar descripcion del Producto</span>
					<br>
					<textarea name="description" id="description" cols="60" rows="5"><%= products.description %></textarea>
					<p class="feedback"></p>
				</label>
				<br>
				<label for="category">
					<span>Cambiar Categoria Global del Producto</span>
					<select name="category" id="category">
						<% for( let i = 0; i < categories.length; i++ ) { 
							if(categories[i].id == products.category_id){%>
							<option value="<%= categories[i].id %>" selected> 
								<%= categories[i].name %>
							</option>
							<% }else{ %>
							<option value="<%= categories[i].id %>"> 
								<%= categories[i].name %>
							</option>	 
						<% }; } %>
					</select>
				</label>
				<br>
				<label for="brand">
					<span>Cambiar Marca del Producto</span>
					<select name="brand" id="brand">
						<% for( let i = 0; i < brands.length; i++ ) { 
							if(brands[i].id == products.brand_id){%>
							<option value="<%= brands[i].id %>" selected> 
								<%= brands[i].name %>
							</option>
							<% }else{ %>
							<option value="<%= brands[i].id %>"> 
								<%= brands[i].name %>
							</option>	
						<% }; } %>

					</select>
				</label>
				<br>
				<label for="price">
					<span> Cambiar Precio del Producto</span>
					<input type="text" name="price" id="price" value="<%= products.price %>">
					<p class="feedback"></p>
				</label>
				<br>
				<div class="Enviar">
					<button type="submit">Editar Producto</button>
				</div>
			</div>
			
		</form>



        <%- include('../partials/footer.ejs') %>
    	

    </body>

</html>