<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head.ejs', {title: "Baggu: Edición productos"}) %>

    <body>
    	<%- include('../partials/header.ejs') %>
		

        <form action="/products/<%= data %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formularioRegiaster">
			<div class="logoPrincipal">
				<h2>Edición de productos</h2>
			</div>
			<div class="otrosDatos">
				<label for="id">
					<span> ID:</span>
					<input type="text" value="<%=products[data].id%>" name="id" id="id">
				</label>
				<label for="image">
					<span>Nueva  Url de imagen de producto</span>
					<input type="text" value="<%=products[data].image%>" name="image" id="image">
				</label>
				<label for="name">
					<span> Nuevo nombre de Producto</span>
					<input type="text" value="<%=products[data].name%>" name="name" id="name">
				</label>
				<label for="description">
					<span> Nueva descripcion de producto</span>
					<input type="text" value="<%=products[data].description%>" name="description" id="description">
				</label>
				<label for="name">
					<select name="category" id="category">
						<option value="1">Buyer</option>
						<option value="2">Seller</option>
						<option value="3">God</option>
					</select>
				</label>
				<label for="price">
					<span> Nuevo precio</span>
					<input type="text" value="<%=products[data].price%>" name="price" id="price">
				</label>
				<label for="stock">
					<span> Stock</span>
					<input type="text" value="<%=products[data].stock%>" name="stock" id="stock">
				</label>
				
				
				<!-- <div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="nombreProducto">
						<span>New name product</span>
						<input type="text" name="nuevoNombreProducto" id="nuevoNombreProducto">
					</label>
				</div>
				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="categoria">
						<span>New category</span>
						<input type="text" name="nuevaCategoria" id="nuevaCategoria">
					</label>
				</div>
				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="tipo">
						<span>New kind</span>
						<input type="text" name="nuevoTipo" id="nuevoTipo">
					</label>
				</div>

				<div class="icono">
					<i class="fab fa-product-hunt"></i>
					<label for="precio">
						<span>New price</span>
						<input type="number" name="nuevoPrecio" id="nuevoPrecio">
					</label>
				</div>

				<div class="fotoRegister">
					<!-<label for="myfile">Select a file:</label>->
					<input type="file" id="nuevaFoto" name="nuevaFoto">
				</div>
			</div> -->
			<div class="Enviar">
				<button type="submit">Submit</button>
			</div>
		</form>



        <%- include('../partials/footer.ejs') %>
    	
        <script src="js/bootstrap.min.js"></script>
        <script src="js/index.js"></script>
    </body>

</html>