<section class="product_container">

    <a href="http://localhost:3000/products/<%= id %>" class="product_image_container">
        
            <img class="product_image" src= <%= image %> alt="Imagen">
        
    </a>

    <div class="product_title"> <%= title %> </div>

    <div class="product_description"> <%= description %> </div>

    <div class="product_price">Precio: <%= price %> $ </div>

    <div class="product_options">

        <i class="fas fa-share product_icon"></i>

        <i class="fas fa-cart-plus product_icon"></i>

        <i class="fas fa-dollar-sign product_icon"></i>

    </div>

</section>

