<section class="user_container">

    <div class="imagen"><img src="<%=avatar%>" alt=""></div>

    <div class="username"></div>

    <div class="nombre_apellido_email_password_category_id">
        <ul>
            <li>ID: <%=id%></li>
            <li><%=user%></li>
            <li><%=name%></li>
            <li><%=surname%></li>
            <li><%=email%></li>
            <li><%=password%></li>
            <li><%=category%></li>
        </ul>
    </div>





</section>