<section class="user_detail_container">

    <div class="user_image"><img src="<%= avatar %>" alt=""></div>

    <div class="user_info">

        <p><b><%= user %></b></p>
        <p><b> ID: </b> <%=id%></p>
        <p><b> Name: </b><%=name%> <%=surname%></p>
        <p><b> Email: </b><%=email%></p>
        <p><b> Password: </b><%=password%></p>

        <% let option = "vendedor"; %>
        <% if (category != 1){option = "Comprador"} %>

        <p><b> Category: </b><%=option%></p>
        
    </div>
</section>